<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="../public/css/profile/profile_dashboard.css" />
    <link rel="stylesheet" href="../public/css/index/colors.css" />
  </head>
  <body>
    <div class="container">
      <section class="accountbar">
        <input type="text" placeholder="Search" />
        <div class="accountbar__shortcut">
          <img class="bell" src="../public/img/logo/user.svg" alt="UserPhoto" />
          <img
            class="bell"
            src="../public/img/logo/bell.svg"
            alt="Notification"
          />
        </div>
      </section>

      <section class="accountdetails">
        <section class="dashboard__navbar">
          <ul class="side-nav">
            <li class="side-nav__item side-nav__item--active">
              <a href="#" class="side-nav__link">
                <span>Home</span>
              </a>
            </li>
            <li class="side-nav__item side-nav__item">
              <a href="#" class="side-nav__link">
                <span>Skills</span>
              </a>
            </li>
            <li class="side-nav__item side-nav__item">
              <a href="#" class="side-nav__link">
                <span>Achievements</span>
              </a>
            </li>
          </ul>
        </section>
        <section class="dashboard__main">
          <section class="main__profileinfo">
            <div class="pictureandbasic">
              <div class="photo">
                <img
                  src="../public/img/logo/Nice-Whatsapp-Dp-Profile-Images-101-300x300.jpg"
                  alt=""
                />
              </div>
              <div class="info">
                <h2>Developer's Name</h2>
                <h3>NIT Silchar</h3>
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Unde, ipsa atque est id iusto illum quisquam quos corrupti
                  ducimus! Illo?
                </p>
              </div>
            </div>
            <div class="branchandyear">
              <div class="collegeinfo">
                <img src="../public/img/logo/school.svg" alt="" />

                <p class="batch">
                  Computer Science and Engineering <br />Batch 1997-01
                </p>
              </div>
              <div class="collegeinfo">
                <img src="../public/img/logo/project.svg" alt="" />
                <p>14 Projects</p>
              </div>

              <div class="collegeinfo"></div>
            </div>
          </section>
          <section class="main__detailedinfo"></section>
        </section>
      </section>
    </div>
  </body>
</html>
